<!-- <% @title = "Sublime Text 3 - Projects - Ticketee" %> -->
<% title(@project.name, "Projects") %>
<header>
  <h1><%= @project.name %></h1>
  <ul class="actions">
    <%= link_to "Edit Project", edit_project_path(@project), class: "edit"%>
    <%= link_to "Delete Project",
      project_path(@project),
      method: :delete,
      data: {confirm: "Sure want to delete it?", },
      class: "delete"
    %>
  </ul>
</header>
<p><%= @project.description %></p>
